* {
	margin: 0;
}

html, body {
	height: 100%;
	font-family: 'Josefin Sans', serif;
	font-size: 12pt;
	min-height: 500px;
}

h1 {
	margin-bottom: 40px;
	color: #530053;
	font-size: 3.5em;
}
h2 {
	font-size: 2em;
	margin-top: 20px;
	margin-bottom: 20px;
}
h3 {
	margin-bottom: 20px;
	margin-top: 70px;
}

#navbar {
	position: fixed;
	height: 60px;
	width: 100%;
	z-index: 999;
}

#navbar .background {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: rgba(125,26,125,0.6);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul, .section-content {
	padding-right: 10%;
	padding-left: 10%;
}

#title {
	float: left;
}

#title a img {
	width: 60px;
	height: 45px;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 8px;
    padding-right: 16px;
    text-decoration: none;
}

li a:hover {
}

.section {
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
    background-repeat: no-repeat;
	background-position: center 15%;
}

.section-1 {
	background-image: url('../images/backgrounds/image1.jpg') ;
}
.section-2 {
	background-image: url('../images/backgrounds/image2.jpg');
}
.section-3 {
	background-image: url('../images/backgrounds/image3.jpg');
}
.section-4 {
	background-image: url('../images/backgrounds/image4.jpg');
}

.sub-section {
	height: auto;
	background-color: white;
	padding-top: 15px;
	padding-bottom: 30px;
	overflow: hidden;
	text-align: center;
	border-style: solid;
	border-color: #530053;
	border-width: 6px 0px 6px 0px; 
}

.box {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.box-centered {
	text-align: center;
}

.value {
	float: center;
	font-size: 25pt;
	margin-right: 10px;
	margin-left: 10px;
	font-weight: 500;
}

.menu-item{
	width: 45%;
	display: inline-block;
	float: center;
	padding: 20px;

}

.menu-item-name {
	font-weight: bold;
	color: rgba(125,26,125,1);
	font-size: 19pt;
	margin-bottom: 10px;
}

.item-menu-subtitle {
	text-decoration: underline;
	font-weight: 400;
	margin-bottom: 5px;
}

.menu-item-base {
	font-weight: 600;
	/*color: #530053;*/
}

.menu-item-toppings {
	font-weight: 600;
	/*color: #530053;*/
}

#map, #pano {
	width: 50%;
	height: 300px;
	float: left;
	margin-top: 24px;
}

.gm-style-cc { 
	display:none; 
}

.contact-form {
	width: 100%;
}

.contact-form * {
	margin: 2px;
}

.wide {
	width: 100%;
}

.half-wide {
	width: 50%;
}

.most-wide {
	width: 75%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
   width: 400px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -200px;
   margin-top: -150px;
}

.nav-button {
	font-size: 14pt;
	margin-top: 10px;
}

.nav-button:hover {
    text-decoration: underline;
}

#mail_page {
	background-color:  rgba(125,26,125,1);
	padding: 10px;
}

#mail_message {
	font-size: 30pt;
	color: white;
}

#submit {
  color: white;
  background-color: rgba(125,26,125,0.6);
  text-shadow: -1px 1px rgba(125,26,125,0.8);;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16pt;
}
#submit:hover {
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
}
#submit:active {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

input[type=text], textarea {
    box-sizing: border-box;
    border: none;
    background-color: rgba(125,26,125,0.6);
    color: white;
    padding: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus, textarea:focus {
    border: 1px solid rgba(125,26,125,1);
    background-color: rgba(125,26,125,0.7);
}


::-webkit-input-placeholder,
::-webkit-textarea-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder,
:-ms-textarea-placeholder {  
   color: white;  
}


/* FOR MOBILE STYLING */

@media only screen and (max-width: 700px) {

	.section {
		background-size: auto;
		background-attachment: scroll;
		background-repeat: repeat;
	}

	#navbar ul li {
		float: center;
		margin: 2px;
		padding: 1px;
		display: inline-block;
		margin-top: 10px;
	}

	#title img {
		display: none;
	}

	.section-content {
		margin: 3px;
	}

	.menu-item{
		width: 75%;
		padding: 20px;
	}

}

