* {
	margin: 0;
}

html, body {
	height: 100%;
	font-family: 'Josefin Sans', serif;
}

h1 {
	margin-bottom: 15px;
}

nav {
	position: fixed;
	height: 40px;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 999;

}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

}

ul, .section-content {
	padding-right: 10%;
	padding-left: 10%;
}

#title {
	float: left;
	font-size: 16pt;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 8px;
    padding-right: 16px;
    text-decoration: none;
}

li a:hover {
}

.section {
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
}

.section-1 {
	background-image: url('../images/backgrounds/image1.jpg');
}
.section-2 {
	background-image: url('../images/backgrounds/image2.jpg');
}
.section-3 {
	background-image: url('../images/backgrounds/image3.jpg');
}
.section-4 {
	background-image: url('../images/backgrounds/image4.jpg');
}

.sub-section {
	height: auto;
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	overflow: hidden;
}

#map, #pano {
	width: 50%;
	height: 300px;
	float: left;
}

.gm-style-cc { 
	display:none; 
}

.contact-form {
	width: 60%;
}

.contact-form * {
	margin: 2px;
}

.wide {
	width: 100%;
}

.half-wide {
	width: 50%;
}

.most-wide {
	width: 75%;
}

.left {
	float: left;
}

.right {
	float: right;
}